@model CountryVM

<section id="basic-form-layouts">
	<div class="row match-height">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<a asp-action="index">
						<i class="icon-arrow-circle-o-left"></i>
					</a>
					<h4 class="card-title" style="display:inline-block;">Country Info</h4>

					<a asp-action="Upsert" class="btn btn-outline-primary" asp-route-id="" style="float:right;">
						<i class="icon-plus"></i> Add Country
					</a>
				</div>

				<div class="card-body collapse in">
					<div class="card-block">
						<form method="post" enctype="multipart/form-data">
							<div class="form-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<input type="hidden" asp-for="Id" />
											<label for="projectinput1">Code <span class="text-danger">*</span></label>
											<input asp-for="Code" class="form-control" placeholder="Code" required />
										</div>
									</div>

									<div class="col-md-8">
										<div class="form-group">
											<label for="projectinput1">Name <span class="text-danger">*</span></label>
											<input asp-for="Name" class="form-control" placeholder="Name" required />
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions">
								<a asp-action="Index" class="btn btn-warning"> <i class="icon-cross2"></i> Cancel</a>

								<button type="submit" class="btn btn-primary">
									<i class="icon-check2"></i> Save
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>