[v-cloak] {
    display: none;
}

.page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.6;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-link {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin-right: 2px;
    border: 1px solid #dee2e6;
    color: #007bff;
    background: #fff;
}

.select2-container--default .select2-selection--single {
    height: 37px !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 30px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        height: 30px !important;
    }

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #d4d4d4 !important;
    border-radius: 4px !important;
}

    .select2-container--default .select2-selection--single:focus {
        color: #55595c !important;
        background-color: #fff !important;
        border-color: #66afe9 !important;
    }